---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
spec:
  route:
    groupBy:
      - alertname
      - job
    groupInterval: 5m
    groupWait: 30s
    receiver: pushover
    repeatInterval: 6h
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: InfoInhibitor|Watchdog
            matchType: =~
      - receiver: "null"
        matchers:
          - name: alertname
            value: NodeFilesystemAlmostOutOfFiles
            matchType: =
          - name: mountpoint
            value: /boot/efi
            matchType: =
      - receiver: pushover
        matchers:
          - name: severity
            value: critical
            matchType: =
        continue: true
  inhibitRules:
    - equal:
        - alertname
        - namespace
      sourceMatch:
        - name: severity
          value: critical
          matchType: =
      targetMatch:
        - name: severity
          value: warning
          matchType: =
  receivers:
    - name: "null"
    - name: pushover
      pushoverConfigs:
        - html: true
          message: |-
            {{- range .Alerts }}
              {{- if ne .Annotations.description "" }}
                {{ .Annotations.description }}
              {{- else if ne .Annotations.summary "" }}
                {{ .Annotations.summary }}
              {{- else if ne .Annotations.message "" }}
                {{ .Annotations.message }}
              {{- else }}
                Alert description not available
              {{- end }}
              {{- if gt (len .Labels.SortedPairs) 0 }}
                <small>
                {{- range .Labels.SortedPairs }}
                  <b>{{ .Name }}:</b> {{ .Value }}
                {{- end }}
                </small>
              {{- end }}
            {{- end }}
          priority: |-
            {{ if eq .Status "firing" }}1{{ else }}0{{ end }}
          sendResolved: true
          sound: gamelan
          title: >-
            {{ .CommonLabels.alertname }} [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
          ttl: 86400s
          token:
            name: alertmanager-secret
            key: pushover_api_token
          userKey:
            name: alertmanager-secret
            key: pushover_user_key
          urlTitle: View in Alertmanager
