apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_ACME_EMAIL: op://home-ops/cluster-secrets/acme_email
  SECRET_DOMAIN: op://home-ops/cluster-secrets/domain
  SECRET_CLOUDFLARE_TUNNEL_ID: op://home-ops/cloudflared/TUNNEL_ID
