apiVersion: v1
kind: Secret
metadata:
  name: home-cluster
  namespace: flux-system
type: Opaque
data:
  identity: op://home-ops/github-deploy-key/identity-base64
  known_hosts: op://home-ops/github-deploy-key/known_hosts-base64
