apiVersion: v1
kind: Secret
metadata:
  name: op-credentials
  namespace: external-secrets
data:
  1password-credentials.json: op://home-ops/onepassword-connect-credentials/1password-credentials-base64
