$TTL    604800
@    IN    SOA    ns1.{{item.domain}}. admin.{{item.domain}}. (
                  {{item.serial}}         ; Serial
                  {{item.refresh}}        ; Refresh
                  {{item.retry}}          ; Retry
                  {{item.expire}}         ; Expire
                  {{item.minimum_ttl}} )  ; Negative Cache TTL
;
