---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./snapshot-controller/ks.yaml
  - ./cilium/ks.yaml
  - ./metrics-server/ks.yaml
  # - ./reloader/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./intel-device-plugins/ks.yaml
