---
hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query:ignoreAAAA
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Cilium
  relay:
    enabled: true
    rollOutPods: true
    prometheus:
      serviceMonitor:
        enabled: true
  ui:
    enabled: true
    rollOutPods: true
    ingress:
      enabled: true
      className: internal
      hosts:
        - &host "hubble.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
