---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./helmrelease.yaml
  - ./l2-policy.yaml
  - ./lb-pool.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: cilium-hubble-values
    files:
      - values.yaml=./cilium-hubble-values.yaml
  - name: cilium-base-values
    files:
      - values.yaml=./cilium-base-values.yaml
