---
version: v1alpha1 # Indicates the schema used to decode the contents.
debug: false # Enable verbose logging to the console.
persist: true # Indicates whether to pull the machine config upon every boot.

# Provides machine specific configuration options.
machine:
  {{ kube.machine | to_nice_yaml(indent=2) | indent(2) }}

# Provides cluster specific configuration options.
cluster:
{% for k, v in kube.cluster.items() %}
  {% if k != 'inlineManifests' -%}
  {{ {k:v} | to_nice_yaml(indent=2) | indent(2) }}
  {%- else -%}
  inlineManifests:
  {% for manifest in kube.cluster.inlineManifests -%}
  - name: {{ manifest.name }}
    contents: |
      {{ manifest.contents | indent(6) }}
  {%- endfor +%}
  {%- endif %}
{%- endfor %}
 