---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: grafana
      version: 10.4.3
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 1h
  values:
    replicas: 1

    testFramework:
      enabled: false

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi

    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"

    admin:
      existingSecret: grafana-secret

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: networking
            orgId: 1
            folder: Networking
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/networking

    dashboards:
      default:
        node-exporter-full:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          gnetId: 1860
          revision: 37
        cert-manager:
          datasource: Prometheus
          gnetId: 20340
          revision: 1
        prometheus:
          datasource: Prometheus
          gnetId: 19105
          revision: 7
        volsync:
          datasource: Prometheus
          gnetId: 21356
          revision: 3
      kubernetes:
        kubernetes-overview:
          datasource:
            - name: DS__VICTORIAMETRICS-PROD-ALL
              value: Prometheus
          gnetId: 15661
          revision: 2
        kubernetes-api-server:
          datasource: Prometheus
          gnetId: 15761
          revision: 19
        kubernetes-coredns:
          datasource: Prometheus
          gnetId: 15762
          revision: 21
        kubernetes-global:
          datasource: Prometheus
          gnetId: 15757
          revision: 43
        kubernetes-namespaces:
          datasource: Prometheus
          gnetId: 15758
          revision: 42
        kubernetes-nodes:
          datasource: Prometheus
          gnetId: 15759
          revision: 37
        kubernetes-pods:
          datasource: Prometheus
          gnetId: 15760
          revision: 36
      networking:
        cloudflared:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          gnetId: 17457
          revision: 6
        nginx-ingress:
          datasource: Prometheus
          gnetId: 9614
          revision: 1

    grafana.ini:
      server:
        enable_gzip: true
        root_url: "https://grafana.${SECRET_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      log:
        level: info
        mode: console
      auth:
        disable_login_form: false
      auth.basic:
        enabled: true
      auth.anonymous:
        enabled: false
      news:
        news_feed_enabled: false

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Alertmanager, orgId: 1 }
          - { name: Prometheus, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://prometheus-operated.monitoring.svc.cluster.local:9090
            isDefault: true
            jsonData:
              timeInterval: 1m

    persistence:
      enabled: false

    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "true"
        searchNamespace: ALL
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        label: grafana_datasource
        labelValue: "true"
        searchNamespace: ALL

    plugins:
      - pr0ps-trackmap-panel
      - grafana-clock-panel
      - vonage-status-panel

    serviceMonitor:
      enabled: true

    ingress:
      enabled: true
      ingressClassName: internal
      hosts:
        - &host "grafana.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
          secretName: grafana-tls

    serviceAccount:
      create: true
      autoMount: true
