---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: 10.4.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    replicas: 1
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
    admin:
      existingSecret: grafana-secret
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        level: info
        mode: console
      grafana_net:
        url: https://grafana.net
      auth.basic:
        enabled: true
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-prometheus:9090/
            isDefault: true
            # - name: Loki
            #   type: loki
            #   access: proxy
            #   url: http://loki:3100
    persistence:
      enabled: true
      existingClaim: grafana-pvc
    sidecar:
      dashboards:
        enabled: true
        # label key that the ConfigMaps containing dashboards should have to be collected by the sidecar
        # The value is unused, the ConfigMap could be labelled as:
        # label:
        #   grafana_dashboard: "true"
        label: grafana_dashboard
        searchNamespace: ALL
        # If specified, the sidecar will look for annotation with this name to create folder and put graph here.
        # You can use this parameter together with `provider.foldersFromFilesStructure`to annotate configmaps and create folder structure.
        folderAnnotation: grafana_folder
        provider:
          # disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
    serviceMonitor:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: "internal"
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "chart-areaspline"
        hajimari.io/appName: "Grafana"
        hajimari.io/group: "System"
      hosts:
        - &host "grafana.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
          secretName: "grafana-tls"
    serviceAccount:
      create: true
      autoMount: true
