---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Diff"

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      cluster: ${{ steps.filter.outputs.cluster }}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            cluster:
              - 'cluster/**'
              - '.github/workflows/flux-diff.yaml'

  flux-diff:
    name: Flux Diff
    needs: changes
    if: ${{ needs.changes.outputs.cluster == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resource:
          - helmrelease
          - kustomization
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
        with:
          # renovate: datasource=github-releases depName=fluxcd/flux2
          version: 2.7.5

      - name: Diff Resources
        uses: allenporter/flux-local/action/diff@8.1.0
        id: diff
        with:
          path: cluster/flux
          resource: ${{ matrix.resource }}
          live-branch: main
          sources: home-cluster

      - name: Add PR comment
        if: ${{ steps.diff.outputs.diff != '' }}
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2
        with:
          message-id: "${{ github.event.pull_request.number }}/cluster/${{ matrix.resource }}"
          message-failure: Diff was not successful
          message: |
            ### ${{ matrix.resource }}
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

  flux-diff-success:
    needs:
      - flux-diff
    if: ${{ always() }}
    name: Flux Diff successful
    runs-on: ubuntu-latest
    steps:
      - name: Check matrix status
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
